<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4>

  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
  <div class="forecast">
    <p>Current Temp: </p> <p class="current"> <%= @destinationfacade.current_temp %></p>
    <p>High Temp: </p>  <p class="high_temp"> <%= @destinationfacade.high_temp %></p>
    <p>Low Temp: </p>  <p class="low_temp"> <%= @destinationfacade.low_temp %></p>
    <p>Summary: </p>  <p class="summary"> <%= @destinationfacade.summary %></p>
    <p>Date: </p>  <p class="date"> <%= @destinationfacade.date %></p>
  </div>
</div>
